# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Configuração local
config.json

# Pastas de backup
*.zip
repo_backups/
SimpleRepoBackups/

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operacional
.DS_Store
Thumbs.db
